.main {
	margin-left: auto;
	margin-right: auto;
        padding-top: 20px;
        min-width: 550px;
        max-width: 930px;
}

.panel {
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
        max-width: 450px;
}

.panel-heading {
        margin-left: -15px;
        margin-right: -15px;
}


.mnavbar {
        background-color: #000D47;
}

.mnavcontainer {
        min-width: 550px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-color: #000D47;
}

.mnavlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

.mnavlist li a, .mnav-text, .mnav-logout {
        display: block;
        padding: 14px 16px;
        color: white;
        text-align: center;
        text-decoration: none;
}

.mnav-text, .mnav-logout {
        margin-bottom: -10px;
}

.mnav-logout {
        background-color: #000D47;
        border: 0 none;
        -webkit-border-radius: 0px;
        border-radius: 0px;
}

.mnav-left {
        float: left;
}

.mnav-right {
        float: right;
}

.mnavlist a:hover, .mnav-logout:hover {
        background-color: #444444;
        color: #eeeeee;
}

.mnavlist a:active, .mnav-logout:active {
        background-color: #222222;
}




.malert {
	-webkit-transform: translate(-50%, -110%);
	-webkit-transition: -webkit-transform 1000ms;
	
	-ms-transform: translate(-50%, -110%);
	-ms-transition: -ms-transform 1000ms;
	
	transform: translate(-50%, -110%);
	transition: transform 1000ms;

	position: fixed;
	width: 400px;
	left: 50%;
	top: 0;
	background-color: #eeeeee;
	border: 2px solid #444444;
}

.malert.active {
	-webkit-transform: translate(-50%, 60%);
	-ms-transform: translate(-50%, 60%);
	transform: translate(-50, 60%);
}


.slider-well {
	background-image: none;
}

.slider-container {
	background-color: #f5f5f5;
        max-height: 250px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
}

.slider-container-fixed {
	max-height: 250px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #f5f5f5;
        display: block;
        min-width: 160px;
        padding: 2px 0;
	margin: 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
}

.slider-container li:last-child,
.slider-container-fixed li:last-child {
        display: none;
}

.slider-li {
	background-color: #f5f5f5;
        padding: 10px !important;
        color: #337ab7;
}

.slider-li:hover {
        background-color: #e5e5e5 !important;
        color: #222222;
}

.slider-text {
        display: inline-block;
        width: 70%;
        color: inherit;
        word-wrap: break-word;
        font-size: 14px !important;
        margin: 0 !important;
        padding: 4px 0 4px 0 !important;
}

.slider-edit {
        display: inline-block;
        width: 15%;
        height: 28px;
        margin: 0 !important;
        float: right;
	padding: 3px;
        font-size: 12px;
        border-radius: 4px;
}

.slider-divider {
	overflow: hidden;
	height: 1px;
	background-color: #e5e5e5;
        margin: 0 !important;
}

.slider-checkbox {
        display: inline-block;
        float: left;
        margin: 5px 4px 0 0 !important;
}
