.mnavbar {
        background-color: #666666;
}

.mnavcontainer {
        min-width: 600px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-color: #666666;
}

.mnavlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

.mnavlist li a, .mnav-text {
        display: block;
        padding: 14px 16px;
        color: white;
        text-align: center;
        text-decoration: none;
}

.mnav-text {
        margin-bottom: -10px;
}

.mnav-left {
        float: left;
}

.mnav-right {
        float: right;
}

.mnavlist a:hover {
        background-color: #444444;
        color: #eeeeee;
}

.mnavlist a:active {
        background-color: #222222;
}
